{% extends 'base.html'%}
 <!-- Styles block -->

 {% block styles%}
 {{ super() }}
 <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->

{% block content %}

<div class="container-fluid">

    <!-- Poster background -->
    <div class="row">
    {% for news in articles%}
      
        <div class="col-md-3 movie-details">
                {{articles.title}}
           <ul>
              <h3>News Details</h3>
               <li><strong><u>Title:</u></strong><br>{{news.title}}</li>
               <li><strong><u>Content:</u></strong><br>{{news.content}}</li>
               <img src="{{news.urlToImage}}" alt="" height="200">
               <li><strong><u>Author:</u></strong><br>{{news.author}}</li>
               <li><strong><u>Time:</u></strong><br>{{news.publishedAt}}</li>
               <a href="{{news.url}}">Click here to Read the Full Article</a>
               <br>
            </ul>
       </div> 
       {% endfor %}
    </div>
</div>

{% endblock %}